<div class="content-page container">

	<div class="subscribestep">
    <div class="row">
      <div class="col-sm-12">
        <h3><i class="fa fa-wrench"></i> Get Your Toolkit</h3>
        <p class="lead alert alert-warning"><b>This is important!</b> UCanBe designs easy to do projects around the raddest cutting edge technology for kids. You'll need a starter kit before you get a monthly subscription (or at least let us know you already have one).</p> 
      </div>
    </div>

    <div class="row">
    	<div class="col-sm-12">
				<h5>Use LittleBits and play with <span class="glyphicon glyphicon-flash"></span>Electronic Engineering</h5>
			</div>
		</div>

    <div class="row">
    	<div class="col-sm-12">
	    	<div class="media">
				  <img class="media-object pull-right" src="https://s3.amazonaws.com/ucanbe-production/images/static_pages/hp-toolkit.jpg" alt="...">
				  <div class="media-body">
				    <p>Electronic egineering is critical in some of today’s most exciting new inventions, like GPS and electric power generation. <%= link_to "We build projects", aboutlittlebits_path %> like self-driving cars using <%= link_to "LittleBits", "http://littlebits.cc/" %>, an opensource library of electronic modules that simply snap together with tiny magnets. It's perfect for kids 8-12.</p>
				    <%= link_to "Get Starter Kit", "https://app.moonclerk.com/pay/ouncaf3il7", class: "btn btn-primary btn-lg" %> or <%= link_to "I already have a starter kit!", subscribe_onemonth_path  %>
				  </div>
				</div>
			</div>
	  </div>
	</div>



  <div class="container">
  	<hr>
  	<h4>Not interested in these toolkits?</h4>
		<%= render 'layouts/mailchimpsignup' %> 
	</div>


</div>