<%=render 'layouts/navigation' %> 

<div class="content-page container">

	<%= render 'layouts/bcsubscribe' %>

	<div class="subscribestep">
    <div class="row">
      <div class="col-md-12">
        <h3>Choose Box</h3>
        <p class="lead">UCanBe builds boxes around existing toy platforms. We will be expanding our offering in 2014. 
      </div>
    </div>
    <div class="row">
	    <div class="subscribeunit">
	      <div class="col-md-4">
	        <img src="http://placedog.com/300/200" class="img-responsive" alt="...">
	        <h5>LittleBits</h5>
	        <%= link_to "Yup", planlb_path, class: "btn btn-primary" %> or 
	        <%= link_to "About LittleBits", aboutlb_path %>  
	      </div>
	    </div>
	   	<div class="subscribeunit">
	      <div class="col-md-4">
	      	<div class="well">
		      	<img src="http://placedog.com/300/200" class="img-responsive" alt="...">
		        <h5>Or, Give a Gift</h5>
		        <%= link_to "Yup", gift_path, class: "btn btn-default" %> 
		      </div>
	      </div>
	    </div>
	    <div class="subscribeunit">
	      <div class="col-md-4">
	        <%= render 'layouts/mailchimpsignup' %> 
	      </div>
	    </div>	    
    </div>
    <div class="row">
	    <div class="subscribefooter">
	      <div class="col-md-12">
	      	<p>Free shipping. Billed monthly. Cancel anytime.</p>
	      </div>
	    </div>
    </div>
	</div>

</div>