<div class="content-page">
	<div class="container">	
		<h1>Project 102: Smart Car <span class="ectocooler">Deep Dive</span></h1>
		<div class="text-left">
			<p class="lead">Learn more about the concepts that go behind building the smart cars of the future.</p> 
			<p>Circuits</p>
			<ul>
				<li><%=link_to "How circuits work", "http://kids.discovery.com/tell-me/curiosity-corner/science/how-do-electric-circuits-work", target: "_blank" %></li>
				<li><%=link_to "What is a circuit?", "http://www.youtube.com/watch?v=VnnpLaKsqGU", target: "_blank" %></li>
				<li><%=link_to "Learn about electricity" , "http://sciencewithme.com/learn-about-electricity/", target: "_blank" %></li> 
				<li><%=link_to "Build and test circuits online" , "http://www.cleo.net.uk/consultants_resources/science/circuitWorld/index.html", target: "_blank" %></li>
			</ul>
 
			<p>Power Sources</p>
			<ul>
				<li><%=link_to "How does a battery work?", "http://engineering.mit.edu/ask/how-does-battery-work", target: "_blank" %></li>
				<li><%=link_to "How does a battery work? (Video)", "http://www.youtube.com/watch?v=KkRwuM4S8BQ", target: "_blank" %></li>
				<li><%=link_to "Alternative energy sources", "http://www.alliantenergykids.com/EnergyandTheEnvironment/RenewableEnergy/", target: "_blank" %></li>
			</ul>

			<p>Motors</p>
			<ul>
				<li><%=link_to "How motors work", "http://www.youtube.com/watch?v=yJyVTd_O-vw", target: "_blank" %></li>
			</ul>

			<p>AC vs DC</p>
			<ul>
				<li><%=link_to "Battle of the Currents (Video)", "http://www.youtube.com/watch?v=dIfIRj0Crc8", target: "_blank" %></li>
				<li><%=link_to "The War of the Currents", "http://energy.gov/articles/war-currents-ac-vs-dc-power", target: "_blank" %></li>
				<li><%=link_to "AC vs CD", "http://www.diffen.com/difference/Alternating_Current_vs_Direct_Current", target: "_blank" %></li>
			</ul>

			<p>Car design</p>
			<ul>
				<li><%=link_to "Elio concept car", "http://www.youtube.com/watch?v=2Ge1ZGi1bTQ", target: "_blank" %></li>
				<li><%=link_to "Top 5 Reasons Why Cars Look the Same", "http://cnettv.cnet.com/reasons-why-cars-look-same/9742-1_53-50134110.html", target: "_blank" %></li>
				<li><%=link_to "How Car Design Works", "http://www.torquenews.com/1080/how-car-design-works-start-finish", target: "_blank" %></li>
			</ul>

			<p>Sensors</p>
			<ul>
				<li><%=link_to "The Sensor Revolution", "http://www.nsf.gov/news/special_reports/sensor/overview.jsp", target: "_blank" %></li>
				<li><%=link_to "How Do Automatic Door Sensors Work", "http://lerablog.org/technology/how-do-automatic-door-sensors-work/", target: "_blank" %></li>
				<li><%=link_to "How Motion Sensors Work", "http://home.howstuffworks.com/home-improvement/household-safety/security/question238.htm", target: "_blank" %></li>
			</ul>
			
			<p>Smart Cars</p>
			<ul>
				<li><%=link_to "Tiny battery-powered self-driving car", "http://video.pbs.org/video/1801235517/", target: "_blank" %></li>
				<li><%=link_to "Google self-driving car", "http://www.youtube.com/watch?v=cdgQpa1pUUE", target: "_blank" %></li>
				<li><%=link_to "Nissan driverless car", "http://www.theguardian.com/technology/video/2013/aug/28/nissan-self-driving-car-video", target: "_blank" %></li>
				<li><%=link_to "Sensors in cars", "http://auto.howstuffworks.com/car-driving-safety/32250-future-car-safety-sensors-video.htm", target: "_blank" %></li>
			</ul>

		</div>
	</div>
</div>
